body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Segoe UI","Microsoft Yahei",Tahoma,Arial,STHeiti,sans-serif;
}

footer p {
  text-align: center;
}

